## Sales Data Analysis: Uncovering Trends and Insights from a Real-World Sales Dataset

In todayâ€™s competitive market, data-driven decision-making is crucial for businesses to optimize their sales strategies. Sales data contains valuable insights that can help organizations understand customer behavior, identify seasonal trends, and improve overall performance. By analyzing a real-world sales dataset, businesses can make informed decisions to boost revenue and enhance customer satisfaction.

## Objective

Your analysis in this mini project will focus on cleaning, exploring, and visualizing a sales dataset to extract meaningful insights using python and data visualization libraries.

## About the Dataset

The **[dataset](https://drive.google.com/file/d/1V6HTxMsNQswvL_K39UWB7dh8Un8f4oz7/view?usp=sharing)** used in this analysis is a real-world sales dataset containing transaction records from a retail business. It includes the following key features:

- `OrderID`: The id of the order that was placed.
- `Date`: The date the order was placed.
- `CustomerID`: The customer ID that represents the customer who made the purchase.
- `Product`: The class of product that was purchased.
- `Quantity`: The quantity of the product that was purchased.
- `Price`: Unit price of the product in dollars.
- `Total`: The total cost of the purchase in dollars.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Dataset.csv")
df.head()

   OrderID        Date CustomerID  Product  Quantity  Price    Total
0        1  2024-04-12       C002    Phone         1    600   642.09
1        2  2024-12-14       C003   Laptop         2   1000  2098.39
2        3  2024-09-27       C017  Monitor         1    200   196.34
3        4  2024-04-16       C005    Phone         3    600  1955.86
4        5  2024-03-12       C017   Laptop         1   1000  1098.19