## Sales Data Analysis: Uncovering Trends and Insights from a Real-World Sales Dataset

In todayâ€™s competitive market, data-driven decision-making is crucial for businesses to optimize their sales strategies. Sales data contains valuable insights that can help organizations understand customer behavior, identify seasonal trends, and improve overall performance. By analyzing a real-world sales dataset, businesses can make informed decisions to boost revenue and enhance customer satisfaction.

## Objective

Your analysis in this mini project will focus on cleaning, exploring, and visualizing a sales dataset to extract meaningful insights using python and data visualization libraries.

## About the Dataset

The **[dataset](https://drive.google.com/file/d/1V6HTxMsNQswvL_K39UWB7dh8Un8f4oz7/view?usp=sharing)** used in this analysis is a real-world sales dataset containing transaction records from a retail business. It includes the following key features:

- `OrderID`: The id of the order that was placed.
- `Date`: The date the order was placed.
- `CustomerID`: The customer ID that represents the customer who made the purchase.
- `Product`: The class of product that was purchased.
- `Quantity`: The quantity of the product that was purchased.
- `Price`: Unit price of the product in dollars.
- `Total`: The total cost of the purchase in dollars.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Dataset.csv")
df.head()

   OrderID        Date CustomerID  Product  Quantity  Price    Total
0        1  2024-04-12       C002    Phone         1    600   642.09
1        2  2024-12-14       C003   Laptop         2   1000  2098.39
2        3  2024-09-27       C017  Monitor         1    200   196.34
3        4  2024-04-16       C005    Phone         3    600  1955.86
4        5  2024-03-12       C017   Laptop         1   1000  1098.19

# Data Cleaning

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     200 non-null    int64
 1   Date        200 non-null    object
 2   CustomerID  200 non-null    object
 3   Product     190 non-null    object
 4   Quantity    200 non-null    int64
 5   Price       200 non-null    int64
 6   Total       194 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 11.1+ KB

In [4]:
df.isnull().sum()

OrderID        0
Date           0
CustomerID     0
Product       10
Quantity       0
Price          0
Total          6
dtype: int64

In [5]:
P_map = {600:'Phone', 1000:'Laptop', 200:'Monitor', 400:'Tablet', 100:'Headphones'}

df['Product'] = df['Product'].fillna(df['Price'].map(P_map))

df[df["Product"].isnull()]

Empty DataFrame
Columns: [OrderID, Date, CustomerID, Product, Quantity, Price, Total]
Index: []

In [6]:
df['Total'] = df['Total'].fillna(df['Quantity']*df['Price'])

df[df["Total"].isnull()]

Empty DataFrame
Columns: [OrderID, Date, CustomerID, Product, Quantity, Price, Total]
Index: []

In [7]:
df.isnull().sum()

OrderID       0
Date          0
CustomerID    0
Product       0
Quantity      0
Price         0
Total         0
dtype: int64

In [8]:
df[df.duplicated()]

Empty DataFrame
Columns: [OrderID, Date, CustomerID, Product, Quantity, Price, Total]
Index: []

In [9]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     200 non-null    int64
 1   Date        200 non-null    datetime64[ns]
 2   CustomerID  200 non-null    object
 3   Product     200 non-null    object
 4   Quantity    200 non-null    int64
 5   Price       200 non-null    int64
 6   Total       200 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 11.1+ KB